doctype html
html
  head
  body
    iframe(ng-src='{{someUrl}}' ,width="100%", marginwidth="0", height="100%", marginheight="0" ,scrolling="No", frameborder="0" ,vspace="0" ,id="Iframe1", border="0",framespacing="0" ,noresize="noResize")
