.device-list-details-content table {
  white-space: nowrap;
}

.device-list-details-content .device-list-product,
.device-list-details-content .device-list-carrier {
  white-space: normal;
}

.device-list-details-content .progress {
  margin-bottom: 0 !important;
  height: 17px !important;
}

.device-list-details-content .device-status.state-available {
  font-weight: 600;
}
.dataTable tr td {  */
/*	    text-overflow: ellipsis;  */ /* for IE */  
/*	    -moz-text-overflow: ellipsis; */ /* for Firefox,mozilla */  
	    overflow: hidden;          
	    white-space: nowrap;   
/*	    text-align: left;         */
/*	    word-wrap: break-word;    */
/*	    word-break: break-all;    */
	   table-layout:fixed  }     

