div.page-holder(ng-show="pageCount.length>1")
  span.prev.m-link(ng-if="pageNumber != 1" ,ng-click="onClickPrev()") &lt;
  .m-default(style="display: inline",ng-repeat="page in names track by $index",ng-show="($index+1>pageCount.length-5&&pageNumber>pageCount.length-3)||($index<5&&pageNumber<4)||($index+1>pageNumber-3 && $index+1<pageNumber+3)")
    span.page.m-link(ng-class="{'green':page == pageNumber}",ng-click="onClickPageNumber(page)") {{page}}
  span.next.m-link(ng-if="pageNumber != pageCount.length",ng-click="onClickNext()") &gt;
  span.total-page.m-default 共 {{pageCount.length}} 页
